Flask==2.3.2
nltk==3.8.1
requests==2.32.0
spacy==3.2.1
torch==1.13.1
certifi>=2022.12.7
pydantic>=1.10.13
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability